PORT=5000
MONGO_URI=mongodb+srv://pallavisakre4461_db_user:<db_password>@cluster0.2ri7bqs.mongodb.net/bestinfra?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=7d
